/* <====== defaults ======> */

body {
  font-family: "Pingfang SC,Microsoft YaHei,consola,Verdana,Arial,Tahoma,sans-serif";
  width: 100%;
  position: relative;
  margin: 0 auto;
  background: #fff;
  color: #101010;
}

body>div {
  overflow: hidden;
}

img {
  display: inline-block;
}

.btn-ctm {
  width: 160px;
  height: 50px;
  border: 3px solid #ff5807;
  background: transparent;
  color: #FF7043;
  font-size: 18px;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.btn-ctm.active,
.btn-ctm:hover {
  color: #fff;
  background: #ff5807;
  box-shadow: none;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

a {
  color: #101010;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

a:hover {
  text-decoration: none;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

a.link {
  color: #FF7043;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ul li a {
  color: inherit;
  text-decoration: none;
}

ul li a:hover {
  color: inherit;
  text-decoration: none;
}

.container,
.container-fluid {
  margin: 0 auto;
  padding: 0;
}

.content-box {
  padding: 40px 0;
}

.ellipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clamp-2 {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.clamp-3 {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.clamp-5 {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.content-title,.content-main {
  color: #101010;
}

.content-subtitle,.content-desc{
  color: #777;
}

.bottom-gap-10 {
  margin-bottom: 10px !important;
}

.bottom-gap-20 {
  margin-bottom: 20px !important;
}

.bottom-gap-30 {
  margin-bottom: 30px !important;
}

.bottom-gap-40 {
  margin-bottom: 40px !important;
}

.bg-cover {
  background: center no-repeat;
  background-size: cover;
}

/* <====== navbar ======> */

.navbar {
  height: 80px;
  padding: 0;
  margin: 0;
  border: none;
  overflow: visible !important;
}

.navbar-logo,
.navbar-menu {
  height: 80px;
}

.navbar-logo {
  padding: 17px 0 6px 20px;
}

.navbar-logo>* {
  display: inline-block;
}

.navbar-menu .menu-list {
  margin: 0;
  overflow: visible;
}

.navbar-menu .menu-list li {
  padding: 0;
  position: relative;
}

.navbar-menu .menu-list li>a {
  width: 124px;
  height: 80px;
  display: inline-block;
  border-bottom: 5px solid transparent; 
  color: #101010;
  font-size: 18px;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

@media(min-width:992px) and (max-width:1200px) {
  .navbar-menu .menu-list li a {
    width: 100px;
  }
}

.navbar-menu .menu-list li a:hover {
  border-bottom-color: #FF7043;
}

.navbar-menu .menu-list li a:hover,
.navbar-menu .sublist li a:hover {
  transition: all .3s ease-in-out .03s;
  -webkit-transition: all .3s ease-in-out .03s;
  -moz-transition: all .3s ease-in-out .03s;
  -ms-transition: all .3s ease-in-out .03s;
  -o-transition: all .3s ease-in-out .03s;
}
.navbar-menu .menu-list li a.active{
  border-bottom: 5px solid #FF7043;
}
.navbar-menu .sublist {
  display: none;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 9999;
}

.navbar-menu .sublist li,
.navbar-menu .sublist li a {
  height: 60px;
  line-height: 60px;
}

.navbar-menu .sublist li a,
.navbar-mobile .menu-list li a {
  background: rgba(0, 0, 0, .6);
  border: none;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  text-decoration: none;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.navbar-menu .sublist li a:hover {
  background: rgba(0, 0, 0, .8);
  border: none;
}

.navbar-mobile {
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
  z-index: 9999;
}

.navbar-mobile .menu-list li,
.navbar-mobile .menu-list li:hover {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.navbar-mobile .menu-list li {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

.navbar-mobile .menu-list li:hover {
  background: rgba(0, 0, 0, .6);
}

.navbar-mobile .menu-list li a {
  width: 100%;
  display: inline-block;
}

.navbar-mobile .menu-list>li>a {
  display: inherit;
}

.navbar-mobile .sublist li {
  background: rgba(0, 0, 0, 0);
  font-size: 15px;
}

.navbar-mobile .sublist li:hover {
  background: rgba(0, 0, 0, .8);
}

.btn-navbar {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  padding: 24px;
  margin: 0;
}

@media (max-width:992px) {
  .navbar-menu {
    display: none;
  }
  .btn-navbar {
    display: block;
  }
}

.btn-navbar img {
  width: 32px;
  height: 32px;
}

.banner .banner-title,
.banner .banner-position{
  color: #fff;  
}

/* <====== footer ======> */

.footer {
  background: #f2f2f2;
}

.footer .partner-logo {
  margin-left: -10px;
}

.footer .row .col-ctm {
  padding: 0 30px;
}

.footer .row .col-logo,
.copyright .row .col-detail {
  padding: 0;
}

.copyright {
  background-color: #101010;
  color: #EFEFEF;
}

@media (max-width: 992px) {
  .copyright .row-content {
    text-align: center!important;
  }
}

@media (min-width: 992px) {
  .copyright .row-content .col-content:first-child {
    text-align: left!important;
  }
  .copyright .row-content .col-content:last-child {
    text-align: right!important;
  }
  .copyright .row-content .col-detail:last-child {
    white-space: nowrap;
  }
}
