.btn-ctm{
  margin: 10px;
 }
 .news-banner{
  height: 250px;
  background-position: top left;
  overflow: hidden;
 }
.news-banner .content-box{
  margin: 32px auto;
 }
.news-main{
  background: #f4f5f9;
 }
.news-main .news-box{
  background: #fff;
  overflow: hidden;
 }
.news-menu .btn-ctm:not(.active){
  background: #ebebeb;
  border: none;
 }
.news-menu .btn-ctm:not(.active):hover{
  background: rgba(255, 88, 7, .7);
}
.news-box .news-list{
  min-height: 700px;
  padding: 30px 25px;
  overflow: hidden;
}
.news-box .news-list .news-item{
  height: 130px;
}
.news-list .news-item .content-desc{
  padding-bottom: 10px;
  border-bottom: 1px solid #bbbbbb;
}
.news-item .content-desc .news-author{
  margin: 0 20px;
}
.news-box .news-pagination{
  margin: 0 auto;
  padding-bottom: 30px;
}
.news-box .news-pagination .btn-ctm{
  width: 40px;
  height: 40px;
  border-width: 2px; 
}
.news-pagination .btn-ctm.disabled:hover{
  background-color: transparent;
  color: #FF7043;
}
.news-pagination .btn-ctm.prev,
.news-pagination .btn-ctm.next{
  width: 94px;
}
.news-pagination .pagination-more{
  height: 40px;
  margin: 20px auto 0;
  display: none;
}
.news-pagination .pagination-more .btn{
  display: none;
}